.main{
  background: var(--blue-neutralSecond);
}
.section{
  padding: 40px 20px;
}
.subtitle{
  font-family: var(--font-sans);
  font-weight: 400;
  color: var(--blue-primary);
  font-size: 2em;
  text-align: center;
  margin-bottom: 20px;
}
.section__text{
  font-family: var(--font-sans);
  font-weight: 400;
  color: var(--blue-neutral);
  text-align: center;
  line-height: 1.5em;
}
.section__icon{
  display: block;
  margin: auto;
  margin-bottom: 20px;
}
.section__title{
  font-family: var(--font-sans);
  color: var(--blue-primary);
  font-weight: 400;
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 20px;
}
.article2{
  background-color: var(--gray-neutral);
  padding: 40px 20px;
}
.card{
  background-color: var(--white-neutral);
  margin-bottom: 20px;
  border-radius: 10px;
}
.card__img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
  margin-bottom: 15px;
}
.card-info{
  padding: 0 20px;
  padding-bottom: 40px;
}
.card__name{
  font-family: var(--font-sans);
  font-size: 12px;
  color: var(--blue-neutral);
  margin-bottom: 10px;
}
.card__title{
  font-family: var(--font-sans);
  color: var(--blue-primary);
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 10px;
}
.card__text{
  font-family: var(--font-sans);
  color: var(--blue-neutral);
  font-size: 14px;
  line-height: 20px;
}

@media (min-width: 800px) {
  .subtitle{
    text-align: left;
    padding-top: 40px;
    margin-bottom: 40px;
    padding-left: 10%;
  }
  .section__text:nth-child(2){
    text-align: left;
    font-size: 1rem;
    padding-left: 10%;
    padding-right: 50%;
  }
  .containerD{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 10%;
  }
  .section__icon {
    width: 4rem;
    margin: 0 0 30px;
  }
  .section__title{
    text-align: left;
    margin-bottom: 30px;
  }
  .section__text{
    text-align: left;
  }
  .container2{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .article2{
    padding: 40px 10%;
  }
  .card{
    width: 90%;
  }
}